*{
    margin: 0;
    padding: 0;

}
body{
    height: 100%;
    background-image: url("img/ft.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    padding: 5px;
    background-color: green;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 40px;
    margin: 0 auto;
}
a:hover {
    transform: scale(1.5); /* (150% zoom)*/
}
.table{
    display: none;
}
